.heroSliderWrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.sliderImgWrap img.heroBgImg {
  width: 100%;
  height: 80vh;
  object-fit: cover;
}

.heroOverlayContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  width: 90%;
  max-width: 1200px;
}

.bannerLogo {
  width: 120px;
  margin-bottom: 1rem;
}

.heroContentBlock h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.heroContentBlock h1 .nickName {
  color: #00ffff;
}

.heroContentBlock p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.bookingContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  align-items: center;
}


.bookingContainer .search {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.bookingContainer input {
  padding: 0.7rem 1rem;
  border-radius: 8px;
  border: none;
  outline: none;
  width: 220px;
  min-width: 250px;
}

.bookingContainer button {
  background-color: #00e0ff;
  border: none;
  padding: 0.8rem 2rem; /* Rectangle button */
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  min-width: 240px;
  margin-top: 30px;
}

.bookingContainer button:hover {
  background-color: #00e0ff;
}

.slick-dots li button:before {
  font-size: 12px;
  color: white;
}

.slick-dots li.slick-active button:before {
  color: #00e0ff;
}

/* Responsive */
@media (max-width: 1024px) {
  .heroContentBlock h1 {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .heroOverlayContent {
    width: 95%;
  }

  .bookingContainer {
    flex-direction: column;
    gap: 0.8rem;
  }

  .bookingContainer input,
  .bookingContainer button {
    width: 100%;
    max-width: 300px;
  }

  .heroContentBlock h1 {
    font-size: 1.8rem;
  }

  .heroContentBlock p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .heroOverlayContent h1 {
    font-size: 1.5rem;
  }

  .heroOverlayContent p {
    font-size: 0.95rem;
  }

  .bannerLogo {
    width: 90px;
  }

  .bookingContainer input,
  .bookingContainer button {
    max-width: 100%;
  }
}
