.Navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0.7rem 2.5rem;
  z-index: 999;
  box-shadow: 0 2px 12px rgba(0, 191, 191, 0.1);
  transition: box-shadow 0.2s;
}

.NavLogo {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1.5px;
  color: #222;
  margin: 0;
  display: flex;
  align-items: center;
}
.NavLogo span {
  background: linear-gradient(90deg, #00e1ff, #00bfa6);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-left: 0.3rem;
  font-weight: 900;
  letter-spacing: 2px;
}

.navLinks {
  display: flex;
  gap: 2rem;
  align-items: center;
  transition: all 0.3s ease;
}
.navLinks li {
  list-style: none;
}
.navLinks a {
  text-decoration: none;
  color: #222;
  font-weight: 600;
  text-transform: uppercase;
}
.active {
  color: #00bfbf;
  border-bottom: 2.5px solid #00bfbf;
  background: rgba(0, 191, 191, 0.07);
  border-radius: 3px;
  transition: background 0.2s, border-bottom 0.2s;
}

.NavBtn {
  padding: 0.6rem 1.4rem;
  background: #00bfbf;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: 700;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.3s;
}
.NavBtn:hover {
  background: #fff;
  color: #00bfbf;
  border: 1.5px solid #00bfbf;
}

/* Hamburger Icon */
.hamburger {
  display: none;
  font-size: 1.8rem;
  cursor: pointer;
}

/* ------------------- RESPONSIVE ------------------- */
@media (max-width: 900px) {
  .hamburger {
    display: block;
    color: #00bfbf
  }

  .navLinks {
    position: absolute;
    top: 70px;
    left: 0;
    background: white;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 2rem;
    gap: 1rem;
    height: 0;
    overflow: hidden;
    opacity: 0;
  }

  .open {
    height: auto;
    opacity: 1;
    box-shadow: 0 4px 10px rgba(243, 111, 9, 0.1);
  }

  .navLinks li,
  .NavBtn {
    width: 100%;
  }
}
